In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [18]:
# import all the datasets
gw_19 = pd.read_csv('data/globalwarming/globalwarming_2019.csv')
# climatechange_20 = pd.read_csv('data/climatechange/climatechange_2020.csv')
# climatechange_21 = pd.read_csv('data/climatechange/climatechange_2021.csv')
# climatechange_22 = pd.read_csv('data/climatechange/climatechange_2022.csv')
# datasets = [climatechange_19,climatechange_20,climatechange_21,climatechange_22]

In [19]:
gw_19

,Datetime,Tweet Id,Text,Username,Verified Status,Follower Count,Location,Reply Counts,Retweet Counts,Like Count,Media
0,2019-01-01 23:59:01+00:00,1080252085629829120,Great Grandpa‚Äôs thoughts on global warming \n\...,EthanFaatz,False,365.0,"Ohio, USA",0.0,0.0,3.0,NaN
1,2019-01-01 23:58:51+00:00,1080252039857287170,@Anthonysmdoyle @AnnaJaneSmith4 @Char_Autograp...,MaxGraham,True,62064.0,YUL,1.0,0.0,0.0,NaN
2,2019-01-01 23:58:47+00:00,1080252025684852736,#GlobalWarming Harms Animals üåé\nIn the Antarct...,PhilosopherSue,False,1258.0,New York City,0.0,0.0,0.0,NaN
3,2019-01-01 23:58:27+00:00,1080251941333151745,#GlobalWarming Harms Animals. üåé\nIn the Arctic...,PhilosopherSue,False,1258.0,New York City,0.0,0.0,0.0,NaN
4,2019-01-01 23:58:13+00:00,1080251882164183041,@redsteeze Not the planet. The sun. The only w...,actual_chaos,False,8732.0,NaN,2.0,1.0,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
36496,2019-12-31 23:19:08+00:00,1212151230601891840,@Triplejay58 We've all heard it from someone c...,JohnTur63967925,False,243.0,"Gunaikurnai (Gippsland), VIC",0.0,0.0,1.0,NaN
36497,2019-12-31 23:18:45+00:00,1212151132669145088,"‚ÄúIt‚Äôs hard to go ahead with a happy event, whe...",KateCreedon9,True,5168.0,"Sydney, AUSTRALIA",2.0,2.0,2.0,NaN
36498,2019-12-31 23:18:35+00:00,1212151089665118215,@AllanKirkhart @IAMISjp @IOurpatio @epeterd916...,WorldhopperVive,False,1405.0,The Sunshine State,0.0,0.0,3.0,[Gif(thumbnailUrl='https://pbs.twimg.com/tweet...
36499,2019-12-31 23:18:06+00:00,1212150967598305280,you heard of the crazy twenties \nget ready fo...,dunfailure,False,540.0,pt ‚Ä¢ fcsh ‚Ä¢ üè≥Ô∏è‚Äçüåà,0.0,0.0,0.0,NaN
36500,2019-12-31 23:17:37+00:00,1212150848752701441,"@realDonaldTrump @parisac So,this has what to ...",Kazoshea1,False,63.0,NaN,0.0,0.0,0.0,NaN

In [7]:
# Shape and Columns of the dataset
for i in datasets: print(i.shape, i.columns)

(3001, 11) Index(['Datetime', 'Tweet Id', 'Text', 'Username', 'Verified Status',
       'Follower Count', 'Location', 'Reply Counts', 'Retweet Counts',
       'Like Count', 'Media'],
      dtype='object')
(3001, 11) Index(['Datetime', 'Tweet Id', 'Text', 'Username', 'Verified Status',
       'Follower Count', 'Location', 'Reply Counts', 'Retweet Counts',
       'Like Count', 'Media'],
      dtype='object')
(3600, 11) Index(['Datetime', 'Tweet Id', 'Text', 'Username', 'Verified Status',
       'Follower Count', 'Location', 'Reply Counts', 'Retweet Counts',
       'Like Count', 'Media'],
      dtype='object')
(3001, 11) Index(['Datetime', 'Tweet Id', 'Text', 'Username', 'Verified Status',
       'Follower Count', 'Location', 'Reply Counts', 'Retweet Counts',
       'Like Count', 'Media'],
      dtype='object')

In [14]:
# What do the different variables look like?
for i in datasets: 
    print(i.nunique(axis=0)) 
    print('------')
    
# DATETIME has an issue

Datetime           2662
Tweet Id           3001
Text               3000
Username           2618
Verified Status       2
Follower Count     1776
Location           1344
Reply Counts         37
Retweet Counts       63
Like Count          107
Media               335
dtype: int64
------
Datetime           2822
Tweet Id           3001
Text               2999
Username           2487
Verified Status       2
Follower Count     1779
Location           1275
Reply Counts         24
Retweet Counts       52
Like Count           95
Media               600
dtype: int64
------
Datetime           284
Tweet Id           339
Text               338
Username           277
Verified Status      2
Follower Count     246
Location           164
Reply Counts         9
Retweet Counts       8
Like Count          23
Media               83
dtype: int64
------
Datetime           2723
Tweet Id           3001
Text               2985
Username           2587
Verified Status       2
Follower Count     1457
Location           1132
Reply Counts         30
Retweet Counts       48
Like Count           95
Media               335
dtype: int64
------

In [16]:
for i in datasets:
    print(i.describe().apply(lambda s: s.apply(lambda x: format(x, 'f'))))

                         Tweet Id   Follower Count Reply Counts  \
count                 3001.000000      3001.000000  3001.000000
mean   1211770819391611904.000000     38316.349883     1.255248
std         15822451493758.777344    650576.242324    13.144080
min    1211743820972482560.000000         0.000000     0.000000
25%    1211757151703617536.000000       227.000000     0.000000
50%    1211770260799442944.000000       954.000000     0.000000
75%    1211784342550274048.000000      3408.000000     1.000000
max    1211799115119489024.000000  25524331.000000   528.000000

      Retweet Counts    Like Count
count    3001.000000   3001.000000
mean        3.635122     12.242253
std        48.143520    216.338898
min         0.000000      0.000000
25%         0.000000      0.000000
50%         0.000000      0.000000
75%         0.000000      2.000000
max      1884.000000  10786.000000
                         Tweet Id   Follower Count Reply Counts  \
count                 3001.000000      3001.000000  3001.000000
mean   1344366213933620992.000000     48109.466511     0.773742
std         35687046388717.890625   1147404.060978     8.207829
min    1344304841229623296.000000         0.000000     0.000000
25%    1344335812574507008.000000       257.000000     0.000000
50%    1344364504612810752.000000      1090.000000     0.000000
75%    1344395356310794240.000000      3955.000000     1.000000
max    1344432987421757440.000000  59709691.000000   360.000000

      Retweet Counts    Like Count
count    3001.000000   3001.000000
mean        6.437188     20.698101
std       238.280772    641.231440
min         0.000000      0.000000
25%         0.000000      0.000000
50%         0.000000      1.000000
75%         1.000000      2.000000
max     12945.000000  34114.000000
                         Tweet Id  Follower Count Reply Counts Retweet Counts  \
count                 3600.000000     3600.000000  3600.000000    3600.000000
mean   1569442513835615232.000000    22511.289167     0.204444       0.180556
std          1345132503847.632812   338181.814649     1.310560       1.020577
min    1569439861429641216.000000        0.000000     0.000000       0.000000
25%    1569441309093695488.000000       33.000000     0.000000       0.000000
50%    1569442429077684224.000000      314.000000     0.000000       0.000000
75%    1569443689226801152.000000     1736.000000     0.000000       0.000000
max    1569445074324406272.000000  5867530.000000    22.000000      12.000000

        Like Count
count  3600.000000
mean      0.893889
std       6.449269
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max     101.000000
                         Tweet Id   Follower Count Reply Counts  \
count                 3001.000000      3001.000000  3001.000000
mean   1566542142678417152.000000     21865.544485     0.868377
std         19182606681318.828125    441607.872528     7.225165
min    1566509667655634944.000000         0.000000     0.000000
25%    1566525741918978048.000000        75.000000     0.000000
50%    1566541615027593216.000000       422.000000     0.000000
75%    1566558599182053376.000000      1592.000000     1.000000
max    1566576824913739776.000000  19295075.000000   230.000000

      Retweet Counts    Like Count
count    3001.000000   3001.000000
mean        1.525158      9.928357
std        13.778006    192.782131
min         0.000000      0.000000
25%         0.000000      0.000000
50%         0.000000      1.000000
75%         0.000000      2.000000
max       405.000000  10098.000000

In [ ]:
climatechange_19.

In [ ]:
## Association of dates and the number tweets

In [ ]:
## Association of dates and reply counts

In [ ]:
## Average number of words per tweet

In [ ]:
## Days with highest num of tweets